/* Customized Styles for the App */

html, body {
  height: 100%;
}

body {
  background-color: #1d2025;
  color: #fff;
  font-family: Helvetica Neue;
  font-weight: 100;
  letter-spacing: 0.5px;
}

#root, #container {
  height: 100%;
}

#root {
  max-width: 900px;
  margin: auto;
}

#index {
  padding: 0;
  text-align: center;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#index .title {
  font-size: 40px;
  letter-spacing: 3px;
  animation: fadein 3s;
}

.wrapper {
  margin-top: 0;
}

.header {
  background: transparent;
  border: 0;
  max-width: 900px;
  margin: auto;
  padding: 15px 0 0 15px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.circle {
    display: block;
    height: 50px;
    width: 50px;
    background: -webkit-linear-gradient(#d5835b 15%, #d47966 15%, #d47966 30%, #b86b61 30%, #b86b61 42.5%, #d27486 42.5%, #d27486 52.5%, #aa617c 52.5%, #aa617c 62.5%, #a36d8f 62.5%, #a36d8f 72.5%, #766d88 72.5%, #766d88 82.5%, #313d53 82.5%);
    background: linear-gradient(#d5835b 15%, #d47966 15%, #d47966 30%, #b86b61 30%, #b86b61 42.5%, #d27486 42.5%, #d27486 52.5%, #aa617c 52.5%, #aa617c 62.5%, #a36d8f 62.5%, #a36d8f 72.5%, #766d88 72.5%, #766d88 82.5%, #313d53 82.5%);
    border-radius: 50%;
}

.circle:hover {
  cursor: pointer;
  opacity: 0.85;
}

.content.login, .content.index {
    height: 70%;
    display: grid;
    align-items: center;
    justify-content: center;
}

label[for=login-cbx] {
  font-weight: 100;
  margin-left: 5px;
}

.thumb.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumb.left muted {
  margin-bottom: 4px;
}

.ds .desc {
  display: flex;
}

.posts-list li {
  list-style: none;
  font-size: 20px;
}

.posts-list li:hover {
  cursor: pointer;
  opacity: 0.85;
}

.form-header {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 0 10px;
}

.form-header .close {
  color: white;
  font-weight: 100;
  font-size: 26px;
  opacity: 1;
}

.form-header .close:hover {
  cursor: pointer;
  opacity: 0.6;
}

.form-header .mb {
  font-weight: 100;
  font-size: 26px;
}

.form-panel {
    background: transparent;
    border: 0;
    box-shadow: none;
    border-radius: 5px;
}

.form-horizontal.style-form .form-group  {
  border-bottom: none;
  margin: 15px 0;
}

.form-panel input, .form-panel textarea {
  background: transparent;
  color: white;
}

.form-panel label {
  padding: 0 !important;
  font-weight: 100;
  font-size: 18px;
}

#post-preview {
  margin-top: 30px;
}

#post-preview .preview {
  font-size: 20px;
}

#post-preview img {
  width: 100%;
}

#post-form textarea {
  min-height: 300px;
}

.content {
  margin: 25px 0 0 0;
}

.ghost-btn {
  align-self: center;
  display: inline-block;
  margin: 0 0 5px 0;
  padding: 1em 2em;
  background: transparent;
  border-radius: 3px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.ghost-btn:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.85;
}

.ghost-btn i {
  display: inline;
}

.ghost-btn.green {
  border-left: 2px solid #add356;
  border-right: 2px solid #00dfa6;
  background-image: -webkit-linear-gradient(left, #add356, #00dfa6), -webkit-linear-gradient(left, #add356, #00dfa6);
  background-image: linear-gradient(left, #add356, #00dfa6), linear-gradient(left, #add356, #00dfa6);
  background-size: 100% 2px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.ghost-btn.green span {
  background: -webkit-linear-gradient(left, #add356, #00dfa6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ghost-btn.orange {
  border-left: 2px solid #ffcb52;
  border-right: 2px solid #ff451f;
  background-image: -webkit-linear-gradient(left, #ffcb52, #ff451f), -webkit-linear-gradient(left, #ffcb52, #ff451f);
  background-image: linear-gradient(left, #ffcb52, #ff451f), linear-gradient(left, #ffcb52, #ff451f);
  background-size: 100% 2px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.ghost-btn.orange span {
  background: -webkit-linear-gradient(left, #ffcb52, #ff451f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ghost-btn.red {
  border-left: 2px solid #ff451f;
  border-right: 2px solid red;
  background-image: -webkit-linear-gradient(left, #ff451f, red), -webkit-linear-gradient(left, #ff451f, red);
  background-image: linear-gradient(left, #ff451f, red), linear-gradient(left, #ff451f, red);
  background-size: 100% 2px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.ghost-btn.red span {
  background: -webkit-linear-gradient(left, #ff451f, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ghost-btn.purple {
  border-left: 2px solid #3dade9;
  border-right: 2px solid #bf2fcb;
  background-image: -webkit-linear-gradient(left, #3dade9, #bf2fcb), -webkit-linear-gradient(left, #3dade9, #bf2fcb);
  background-image: linear-gradient(left, #3dade9, #bf2fcb), linear-gradient(left, #3dade9, #bf2fcb);
  background-size: 100% 2px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.ghost-btn.purple span {
  background: -webkit-linear-gradient(left, #3dade9, #bf2fcb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-upload-btn {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
  border: 1px solid white;
}

.content-upload-btn:hover {
  cursor: pointer;
  opacity: 0.85;
}

.content-upload-btn.form-acc {
  position: relative;
  top: 100px;
  float: right;
}

.component_avatar {
  height: 50px;
  width: 50px;
  border-radius: 3px;
  border: 0;
}

.component_avatar:hover {
  cursor: pointer;
  opacity: 0.85;
}

.sub-menu { 
  background-color: transparent;
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100px;
  min-height: 25px;
  padding: 5px;
  text-align: right;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu:hover {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
}

.sub-menu li {
  list-style: none;
}

.sub-menu li:hover {
  cursor: pointer;
  opacity: 0.85;
}

.menu-wrapper:hover .sub-menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

@media (max-width: 768px) {
		.header {
      padding: 15px;
    }
}

@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.7.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}

.fa-clock-o:before{content:"\f017"}
.fa-file-image-o:before{content:"\f1c5"}
.fa-edit:before,.fa-pencil-square-o:before{content:"\f044"}
.fa-github:before{content:"\f09b"}